body {
  font-family: sans-serif;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.stro-content {
  background: #eeefef;
  padding-left: 2em;
  line-height: 65px;
  border-bottom: 1px solid #aaa; }

#root {
  overflow-x: hidden; }

.complete {
  color: #fff;
  background: #3498db; }

.archive {
  color: #fff;
  background: #e67e22; }

.undo {
  color: #fff;
  background: #c0392b; }
