$trash-color: #c0392b;
$undo-color: yellow;
$white: #fff;

$complete-color: #3498db;
$archive-color: #e67e22;

body {
	// margin: 0;
	// padding: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.stro-content {
	background: #eeefef;
	padding-left: 2em;
	line-height: 65px;
	border-bottom: 1px solid #aaa;
}

#root {
	overflow-x: hidden;
}

.complete {
	color: $white;
	background: $complete-color;
}
.archive {
	color: $white;
	background: $archive-color;
}
.undo {
	color: $white;
	background: $trash-color;
}
